body {
    background-color: #1F2937;
}

/* Header & footer */

header, footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    justify-content: center;
}

.logo {
    font-size: 24px;
    display: flex;
}

a {
    padding: 8px;
    color: #F9FAF8;
}

a:hover {
    color: #3882F6;
}

/* First section */

.signup {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.signup-p {
    font-size: 18px;
    color: #E5E7EB;
}

.second-section-btn {
    background-color: #3882F6;
    color: #F9FAF8;
}

.second-section {
    display: flex;
    background-color: #1F2937;
}

.placeholder-image {
    background-color: #1F2937;
    align-self: flex-end;
}

/* Second Section */

.third-section {
    background-color: #F9FAF8;
    color: #1F2937;
}

.random-information {
    display: flex;
    justify-content: center;
}

.four-images {
    display: flex;
    justify-content: space-evenly;
}

.img1, .img2, .img3, .img4 {
    border-radius: 25px;
    border: 2px solid #3882F6;
}

/* Quote */ 

.inspiring-quote {
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote {
    font-size: 26px;
}

.signature {
    display: flex;
    justify-content: right;
}

/* Call To Action */

.fifth-section {
    background-color: #F9FAF8;
}

.call-to-action {
    display: flex;
    flex-direction: column;
}

.signup-btn {
    display: flex;
    align-self: flex-end;
}