body {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

/* Header & footer */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-links {
    display: flex;
}

.logo {
    font-size: 24px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: #F9FAF8;
}

a:hover {
    color: #3882F6;
}

footer {
    display: flex;
    justify-content: center;
}

/* First section */

h1 {
    padding: 0;
    margin: 0;
}

.first-section {
    display: flex;
    justify-content: space-between;
}

.signup {
    font-size: 24px;
    color: #F9FAF8;
}

.signup-p {
    font-size: 18px;
    color: #E5E7EB;
}

.first-section-btn {
    background-color: #3882F6;
    color: #F9FAF8;
}

/* Second Section */

.section-section {
    
}

.random-information {
    display: flex;
    justify-content: center;
    background-color: #F9FAF8;
    color: #1F2937;
    padding: 40px;
}

.four-images {
    display: flex;
    justify-content: space-evenly;
    background-color: #F9FAF8;
    color: #1F2937;
    padding: 60px;
}

.img1, .img2, .img3, .img4 {
    border-radius: 25px;
    border: 2px solid #3882F6;
}

/* Quote */ 

.inspiring-quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 150px;
}

.quote {
    font-size: 26px;
    margin: 0;
}

.signature {
    display: flex;
    justify-content: right;
    margin: 0;

}

/* Call To Action */

.fourth-section {
    background-color: #F9FAF8;
    padding: 40px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.call-to-action {
    background-color: #3882F6;
    border-radius: 25px;
    padding: 20px 20px;
    display: flex;
}

.signup-btn {
    margin: 50px;
}